In [21]:
import pandas as pd
import re

In [2]:
claims = pd.read_parquet("claims.parquet")

In [13]:
claims.head(30)

         pol  property  start_date        amount
0   0152f838      7019   25Oct2018  1.578668e+05
1   0152f838      7019   25Oct2018  9.188672e+05
2   0152f838      7019   25Oct2018  1.286024e+05
3   0152f838      7019   25Oct2018  4.471537e+05
4   0152f838      7019   25Oct2018  2.216919e+05
5   0152f838      7019   25Oct2018  1.041028e+06
6   0152f838      7019   25Oct2018  3.875025e+05
7   0152f838      7019   25Oct2018  9.743729e+05
8   604b4377      8025  20Jun.2017  8.393647e+05
9   604b4377      8025  20Jun.2017  1.059110e+06
10  604b4377      8025  20Jun.2017  9.952506e+05
11  604b4377      8025  20Jun.2017  2.981309e+05
12  604b4377      8025  20Jun.2016  2.328671e+05
13  604b4377      8025  20Jun.2016  3.347504e+05
14  604b4377      8025  20Jun.2016  6.598043e+05
15  604b4377      8025  20Jun.2016  9.642754e+05
16  604b4377      8025  20Jun.2016  5.825749e+05
17  604b4377      8025  20Jun.2016  3.321926e+05
18  604b4377      8025  20Jun.2016  2.389052e+05
19  b7007f67      5766  15Jun.2018  9.865750e+05
20  b7007f67      5766  15Jun.2018  6.304887e+05
21  b7007f67      5766  15Jun.2018  8.236605e+05
22  b7007f67      5766  15Jun.2018  8.557550e+05
23  b7007f67      5766  15Jun.2018  1.881671e+05
24  b7007f67      5766  15Jun.2018  1.880047e+05
25  b7007f67      5766  15Jun.2017  4.143734e+05
26  b7007f67      5766  15Jun.2017  9.923519e+05
27  b7007f67      5766  15Jun.2017  6.487628e+05
28  b7007f67      5766  15Jun.2017  4.305862e+05
29  b7007f67      5766  15Jun.2017  6.025268e+05

In [30]:
claims_date = claims.start_date.str.extract('(?P<day>\d{2})(?P<month>[A-Za-z]{3})(?P<year>.*)')

In [32]:
claims_date['year'].replace(regex=True, inplace=True, to_replace=r'[^0-9]', value=r'')

In [33]:
claims_date

      day month  year
0      25   Oct  2018
1      25   Oct  2018
2      25   Oct  2018
3      25   Oct  2018
4      25   Oct  2018
...    ..   ...   ...
62560  12   Apr  2018
62561  12   Apr  2018
62562  12   Apr  2018
62563  12   Apr  2018
62564  12   Apr  2018

[62565 rows x 3 columns]

In [36]:
claims_date['year'].unique()

array(['2018', '2017', '2016', '2015', nan], dtype=object)

In [19]:
claims_date.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62565 entries, 0 to 62564
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   day     43646 non-null  object
 1   month   43646 non-null  object
 2   year    43646 non-null  object
dtypes: object(3)
memory usage: 1.4+ MB

In [11]:
claims.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62565 entries, 0 to 62564
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   pol         62565 non-null  object
 1   property    62565 non-null  int64
 2   start_date  62565 non-null  object
 3   amount      62565 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 1.9+ MB

In [7]:
policies = pd.read_excel("policies.xlsx",engine = "openpyxl")

In [6]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.9-py2.py3-none-any.whl (242 kB)
     |████████████████████████████████| 242 kB 3.4 MB/s eta 0:00:01
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.9
Note: you may need to restart the kernel to use updated packages.

In [8]:
policies

           pol       start         end
0     11bb0dd0   4Jun.2018   4Jun.2019
1     96a3c554   25Jan2017   25Jan2018
2     35a90ece   26Oct2018   26Oct2019
3     6d034563   3Aug.2017   3Aug.2018
4     c70d089a  28Nov.2017  28Nov.2018
...        ...         ...         ...
1755  bc0383e3  17Aug.2016  17Aug.2017
1756  e543ca86   6Apr.2015   6Apr.2016
1757  5cfb6cf2   13Jan2018   13Jan2019
1758  0831ffa4  19Feb.2018  19Feb.2019
1759  a4bfa3b8   5Apr.2016   5Apr.2017

[1760 rows x 3 columns]

In [9]:
properties = pd.read_csv("properties.csv")

In [10]:
properties

      prop_id       pol state   sqft  age
0        7019  0152f838    OH  10876   67
1        8025  604b4377    AZ  87946   95
2        5766  b7007f67    FL  57978   13
3        6120  bae6a6d7    AZ  89202   53
4        1468  a5916966    AZ  35934   29
...       ...       ...   ...    ...  ...
8408     7420  12252bd4    FL  20467   97
8409       56  9c8cc91b    AZ  63535   18
8410     6112  bae6a6d7    AZ  30211   58
8411     2622  bcb9c7aa    AZ  69492   72
8412     4983  f7187fa9    FL  60814   62

[8413 rows x 5 columns]